<div class="container" style="padding-top:150px;">
  <div class="row show-top">
    <div class="col-xs-12 show-top-picture-container">
      <div class="show-top-picture debug-background">

      </div>
    </div>
    <div class="col-xs-12 show-top-name">
      <%= @island.name %>
    </div>
  </div>
  <div class="row show-profile">
    <div class="col-xs-12 show-profile-name">
      Description
    </div>
    <div class="col-xs-12 show-profile-desc">
      <%= @island.description %>
    </div>
  </div>
  <div class="row show-island">
    <div class="col-xs-12 show-island-name">
      Buildings
    </div>
  </div>
</div>
