<header>
  <div class="container">
    <div class="row header-container">
      <div class="title col-md-5 col-xs-8">
        Idea Land
      </div>
      <div class="col-md-5 col-xs-0"></div>
      <div class="col-md-2 col-xs-4">
        <div class="dropdown">
          <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Menu
          <span class="caret"></span></button>
          <ul class="dropdown-menu" style="width: 250px;">
            <div class="small-profile">
              <div class="icon-container">
              </div>
              <div class="small-profile-name">
                <p>Takatito Motoki</p>
                <p>@MotokiTakahito</p>
              </div>
            </div>
            <li><a href="#">My Island</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</header>
