<section class="timeline">
  <div class="left-content">
    <% @buildings.each do |building| %>
      <div class="bcard">
        <div class="bcard-top">
          <div class="bcard-icon debug-background2">
          </div>
          <div class="bcard-name">
            <p class="bcard-island">
              <b><%= link_to building.title, building, { 'data-toggle' => "modal", 'data-target' => '#exampleModalCenter'} %></b><br>
              <span class="bcard-address">Address: <%= link_to building.island.name, building.island %> / <%= link_to building.island.user.name, hello_show_user_path(building.island.user.id) %></span>
            </p>
          </div>
        </div>
        <p class="bcard-text">
          <%= building.description %>
        </p>
        <div class="bcard-image debug-background3">
        </div>
        <div class="bcard-button-container container">
          <div class="row">
            <div class="col-xs-4 btn">
              Wanna Do!
            </div>
            <div class="col-xs-4 btn">
              Like
            </div>
            <div class="col-xs-4 btn">
              Comment
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 counter">
              5
            </div>
            <div class="col-xs-4 counter">
              34
            </div>
            <div class="col-xs-4 counter">
              12
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right-content">
  </div>
</section>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="bcard-modal">
        <div class="bcard-top">
          <div class="bcard-icon debug-background2">
          </div>
          <div class="bcard-name">
            <p class="bcard-island">
              <span class="bcard-address"></span>
            </p>
          </div>
        </div>
        <p class="bcard-text">
        </p>
        <div class="bcard-image debug-background3">
        </div>
        <div class="bcard-button-container container">
          <div class="row">
            <div class="col-xs-4 btn">
              Wanna Do!
            </div>
            <div class="col-xs-4 btn">
              Like
            </div>
            <div class="col-xs-4 btn">
              Comment
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 counter">
              5
            </div>
            <div class="col-xs-4 counter">
              34
            </div>
            <div class="col-xs-4 counter">
              12
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
