<header>
  <div class="container">
    <div class="row header-container">
      <div class="title col-md-5 col-xs-8">
        Idea Land
      </div>
      <div class="col-md-5 col-xs-0"></div>
      <%= button_to "Login", {:controller => "hello", :action => "home" }, :class => "login-btn col-md-2 col-xs-3 btn btn-primary", :method => :get %>
    </div>
  </div>
</header>

<div class="all-container">
  <section class="first-block">
    <p class="first-title">
      <b>Welcome to Idea Land!</b>
    </p>
    <p class="first-text">
      Idea Land is a platform for people who has many original ideas and wants to realize them.<br>
      In this Island, we call your ideas as Buildings. You can construct your fantastical & exciting Buildings on your own Island, and you can show them to other people!<br>
      Also, you can find someone who wants to make similar Island as you, and have some Tourists(people who love to come to your Island) to get some comments and feedbacks to your Buildings!<br>
      There is no faster way to understand the systems than using it, so click "Login" and start making your original Island!<br>
    </p>
  </section>

  <section class="second-block">
    <p class="second-title">
      <b>Make Your Own Islands!</b>
    </p>
    <p class="second-text">
      By constructing your fantastical Buildings on your Island, You can enrich your Island and attract more people!
    </p>

    !===   IMAGE HERE   ===!
  </section>

  <section class="third-block">
    <p class="third-title">
      <b>Co-Work with other people!</b>
    </p>
    <p class="third-text">
      If you like other person's Building, you can Co-Work to build it!<br>
      When you push Co-Work button, notification will send to the Building Owner.<br>
      And if the owner would like to work with you, message will come to you by Messanger.
    </p>

    !===   IMAGE HERE   ===!
  </section>

  <section class="fourth-block">
    <p class="fourth-title">
      <b>Be a Resident!</b>
    </p>
    <p class="fourth-text">
      If you really like someone's Island, you can be registered as a Tourist in the Island.<br>
      After the registration, you can receive notification and get information about the Island more quickly.
    </p>

    !===   IMAGE HERE   ===!
  </section>
</div>

<footer>
  ©️Takahito Motoki(@MotokiTakahito for Twitter)
</footer>
