<div class="all-container">
  <section class="first-block row">
    <p class="first-title">
      <b>Concept of Idea Land</b>
    </p>
    <p class="first-text">
      Idea Land is a platform for people who has many original ideas and wants to realize them.<br>
      There are a lot of servises in which people can share their ideas but in almost all cases, they don't work well.<br>
      I wonder why and I had some hypothesis. For me that's because so many non-sophisticated ideas exist in the servises.<br>
      Users get tired about it, because they feel meaningless and useless.<br>
      So, in Idea Land, I tried very hard to make the most of power of idea, which can change the world.<br>
    </p>

    <p class="first-text">
      Idea Landは、自分の素敵なアイディアを実現したい人のためのプラットホームです。<br>
      もちろん、世の中にはたくさんのアイディアシェアリングサービスがありますが、実はほとんどはうまく機能していないのです。<br>
      私はそれを疑問に思い、いくつかの仮説を立てました。なぜ機能していないかというと、それらのサービスの中にはたくさんの洗練されていないアイディアが入り混じっているのです。<br>
      ユーザーはそれを見ることに意味を感じず、だんだんと疲れてしまいます。<br>
      そのため、Idea Landではなるべくアイディアのもつ素晴らしさを最大限活かせるような機能をつけ、世界を変えることのできるアイディアをたくさん生むことのできるプラットフォームにしたいなと思っています。<br>
    </p>
  </section>

  <section class="second-block row">
    <p class="second-title">
      <b>What is "Building"?</b>
    </p>
    <p class="second-text">
      In Idea Land, we call your idea as "Building". You can construct your "Building" on your own "Island"(I'll explain it later).<br>
      Whatever is OK for "Building". For example, "I wanna make an application! This is like ...", or "I want to start student organization because ...".<br>
      But! Basically, you can construct your "Building" ONLY ONE per month. So, if you make it, make sure your idea is well contemplated.<br>
      When you build your own "Building", all user can see it in their timeline and some of them may help you by pushing "Co-work" Button if they like your "Building".<br>
      When "Co-work" button is pushed, you can receive notification and information about the user(Maybe Facebook). So you can have a contact.
    </p>

    <p class="second-text">
      Idea Landでは、アイディアは"ビルディング"と呼ばれます。自分の"アイランド"(後ほど説明します)の上に"ビルディング"を建てていくことができます。<br>
      "ビルディング"はどんなことでもOKです。例えば、「ソフトウェア開発をしたい！それはこういうもので...」だったり、「学生団体を作りたい！なぜなら...」などです。<br>
      しかし！注意して欲しいことは、"ビルディング"は基本的に月に１つしか建てることができません。なので、建てる時は自分の"ビルディング"がよく考え抜かれたものか、
      質の高いものになっているか検討する必要があります。<br>
      "ビルディング"を建てると、全てのユーザーがタイムラインで閲覧することができます。そして、気に入った"ビルディング"に"コウォーク"ボタンを押すことで、一緒に建設をすることができます。<br>
      "コウォーク"ボタンが押されると、あなたに通知が行き、押した人の情報が見ることができます(大体はFacebookのアカウントでしょう)。なので、その人にコンタクトをとることができるようになるのです。<br>
    </p>
  </section>

  <section class="third-block row">
    <p class="third-title">
      <b>What is "Island"?</b>
    </p>
    <p class="third-text">
      "Island" is a place where you build your "Building".
    </p>

    !===   IMAGE HERE   ===!
  </section>

  <section class="fourth-block row">
    <p class="fourth-title">
      <b>Be a Resident!</b>
    </p>
    <p class="fourth-text">
      If you really like someone's Island, you can be registered as a Tourist in the Island.<br>
      After the registration, you can receive notification and get information about the Island more quickly.
    </p>

    !===   IMAGE HERE   ===!
  </section>
</div>
