// MARK: - CSS for All Start
* {
  font-family: "Press Start 2P", cursive;
}
// MARK: - CSS for All End

// MARK: - Header Start
header {
  height: 60px;
  width: 100%;
  padding-top: 10px;
  background: rgba(131, 204, 210, 0.4);
  position: fixed;
}

.header-container {
  margin-right: 4px;
  margin-left: 4px;
}

.title {
  font-size: 22px;
}
// MARK: - Header End

// MARK: - Body Start
.all-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.title-container {
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;;
  text-align: center;
}

.dis-md {

}
// MARK: - Body End

// MARK: - Debug Start
.debug-border {
  border: 1px solid #000;
}
// MARK: - Debug End
