// MARK: - CSS for All Start
* {
  font-family: 'Josefin Sans', sans-serif;
}
// MARK: - CSS for All End

// MARK: - Header Start
header {
  height: 60px;
  width: 100%;
  padding-top: 14px;
  background: rgba(131, 204, 210, 0.8);
  position: fixed;
}

.header-container {
  margin-right: 4px;
  margin-left: 4px;
}

.title {
  font-size: 30px;
}
// MARK: - Header End

.all-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

// MARK: - First Block Start
.first-block {
  font-size: 16px;
  color: #000;

  padding: 100px 25px;
  padding-bottom: 50px;
}

.first-title {
  font-size: 30px;
}

.first-text {
  margin-top: 20px;
}
// MARK: - First Block End

// MARK: - Second Block start
.second-block {
  background: rgba(224, 255, 239, 1);
  font-size: 16px;
  color: #000;

  padding: 50px 25px;
}

.second-title {
  font-size: 30px;
}

.second-text {
  margin-top: 20px;
}
// MARK: - Second Block End

// MARK: - Third Block Start
.third-block {
  font-size: 16px;
  color: #000;

  padding: 50px 25px;
}

.third-title {
  font-size: 30px;
}

.third-text {
  margin-top: 20px;
}
// MARK: - Third Block End

// MARK: - Fourth Block Start
.fourth-block {
  background: rgba(234, 234, 255, 1);
  font-size: 16px;
  color: #000;

  padding: 50px 25px;
}

.fourth-title {
  font-size: 30px;
}

.fourth-text {
  margin-top: 20px;
}
// MARK: - Fourth Block End

// MARK: - Footer Start
footer {
  height: 25px;
  width: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
  background: rgba(131, 204, 210, 0.8);
}
// MARK: - Footer End

// MARK: - Debug Start
.debug-border {
  border: 1px solid #000;
}
// MARK: - Debug End]

// MARK: - CSS for Form Start
.background {
  background: rgba(224, 255, 234, 1);
  padding: 150px 0;
  padding-bottom: 250px;
}

.form-container {
  width: 60%;
  padding: 50px 20px;
  margin: auto auto;
}

.field-container {
  margin-top: 20px;
}

.login-btn {
  margin-bottom: 40px;
}

.signup-btn {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .background {
    background: rgba(224, 255, 234, 1);
    padding: 100px 0;
    padding-bottom: 150px;
  }

  .form-container {
    width: 90%;
    padding: 50px 10px;
    margin: auto auto;
  }
}
// MARK: - CSS for Form End
